.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 60px 20px;
}

.card {
  background: #fffdf9;
  border-radius: 18px;
  padding: 48px 50px;
  max-width: 700px;
  width: 100%;
  box-shadow:
    0 8px 28px rgba(0, 0, 0, 0.08),
    0 0 0 6px rgba(255, 240, 245, 0.8); /* нежная рамка */

  border: 1px solid rgba(240, 200, 210, 0.65);
  position: relative;

  font-family: "Georgia", "Times New Roman", serif;
  line-height: 1.7;
  color: #4a3f44;
}

@media (max-width: 600px) {
  .wrapper {
    padding: 18px;
    margin-bottom: 80px;
  }
  .card {
    padding: 16px;
  }
}

.headerDeco {
  font-size: 26px;
  text-align: center;
  margin-bottom: 12px;
  color: #d69aa7;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 26px;
  letter-spacing: 0.5px;
  color: #2e2b2e;
}

.card p {
  margin-bottom: 20px;
  text-indent: 20px;
  font-size: 18px;
  color: #4a3f44;
}

.signature {
  margin-top: 35px;
  text-align: right;
  font-size: 17px;
  font-family: "Georgia", serif;
  color: #7a6b72;
  opacity: 0.8;
}

.link {
  font-weight: 600;
  cursor: pointer;
  color: black !important;
  opacity: .4;

  margin-bottom: 20px;
}
