.wrapper {
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 65px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  //todo: заменить на max-width
  padding: 0 60px;

  background-color: #fff;
  // border-bottom: 1px solid rgba(0,0,0,0.06);
  
  color: #e64a6b;
  border-bottom: 1px solid #e64a6b;

  z-index: 999;
}

.title {
  display: flex;
  align-items: center;
  gap: 6px;
}