.footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 20px 40px;
  text-align: right;
  text-align: center;

  // font-weight: bold;
  color: #808080;
  opacity: .5;
}