.container {
  max-width: 1100px;
  
  margin: 40px auto;
  margin-top: 80px;
  padding: 20px;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    gap: 40px;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 80px;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    gap: 40px;
  }
}

/* левая часть - колесо */
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wheelWrapper {
  position: relative;
}

.wheel {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 12px 36px rgba(255, 150, 170, 0.35);

  transition: transform 4.2s cubic-bezier(0.25, 0.8, 0.2, 1);
}

/* указатель снизу */
.pointer {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);

  width: 0;
  height: 0;

  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 24px solid #ff6b8b;
}

.counter {
  margin-top: 18px;
  font-size: 15px;
  color: #555;
}

/* правая часть - текст и кнопки */

.right {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  // text-align: center;
  // text-align: justify;
  font-weight: bold;
  font-size: 20px;
  color: #666;
  margin-bottom: 18px;

  // max-width: 420px;
  margin: 0 auto 24px auto;

  text-align: center;         // вместо justify
  line-height: 1.6;         // мягче и спокойнее
  letter-spacing: 0.2px;    // чуть-чуть воздуха
  word-break: keep-all;     // предотвращает дурацкие переносы
}

.spinBtn {
  width: 100%;
  padding: 12px 0;

  border: none;
  border-radius: 10px;
  background: #ff7fa8;
  color: #fff;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 6px 18px rgba(255, 120, 150, 0.25);
  transition: 0.2s;
}

.spinBtn:hover:not(:disabled) {
  background: #ff6a95;
}

.spinBtn:disabled {
  background: #cfcfcf;
  cursor: default;
}

.resultBox {
  margin-top: 20px;
  padding: 14px;
  background: rgba(255, 200, 220, 0.45);
  border-radius: 10px;
  color: #b1324a;
  font-size: 15px;
}

/* итоговый блок */
.finishBox {
  ul {
    margin-top: 0;
    padding-left: 18px;
  }

  li {
    text-align: left;
    margin-bottom: 6px;
    color: #555;
  }
}

.nextBtn {
  margin-top: 16px;
  width: 100%;
  padding: 12px 0;

  border: none;
  border-radius: 10px;

  background: #ff7fa8;
  color: #fff;

  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.nextBtn:hover {
  background: #ff6a95;
}
