.card {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -60%) scale(0.85);
  opacity: 0;
  pointer-events: none;

  transition:
    transform 1s cubic-bezier(0.2, 1, 0.3, 1),
    opacity 0.9s ease;

  z-index: 10;

  background-image: url('/src/assets/start-card-bg.png');

  width: 100%;
  max-width: 700px;
  aspect-ratio: 16 / 9;

  background-size: cover;
  background-position: center;

  border-radius: 20px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  color: #e64a6b;
}

.cardVisible { 
  opacity: 1;
  transform: translate(-50%, -60%) scale(1);
  pointer-events: auto;
}

///
.cardContent {
  max-width: 500px;
  padding: 12px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.35); // лёгкая дымка
  backdrop-filter: blur(6px);            // мягкое “стекло”
}
/// 

.title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 12px;
}

.desc {
  width: 100%;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.45;
}


.btn {
  background: #e64a6b;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background: #d63f60;
  }
}



// .card {
//   position: absolute;
//   z-index: 10;

//   background-color: pink;

//   left: 50%;
//   // top: 50%;
//   top: 58%;
//   transform: translate(-50%, -150%) scale(0.85);

//   opacity: 0;
//   pointer-events: none;

//   transition:
//     transform 1s cubic-bezier(0.2, 1, 0.3, 1),
//     opacity 0.6s ease;
// }

