.app-wrapper {
  // height: 100vh;
  min-height: 100vh;
  padding: 0 20px;
}

// @media (max-width: 480px) {
//   .app-wrapper {
//   }
// }

// .app-content {
//   position: relative;
//   height: 100%;
// }

.bg {
  position: relative;
  overflow: hidden;

  background:
    radial-gradient(
      circle at 10% 20%,
      rgba(255, 210, 225, 0.35),
      transparent 35%
    ),
    radial-gradient(
      circle at 90% 30%,
      rgba(255, 185, 209, 0.418),
      transparent 40%
    ),
    radial-gradient(
      circle at 50% 85%,
      rgba(255, 220, 235, 0.473),
      transparent 45%
    ),
    linear-gradient(
      135deg,
      #ffffff 0%,
      #fff6f9 40%,
      #ffffff 70%,
      #fff0f5 100%
    );
}

.lightLayer {
  pointer-events: none;
  position: absolute;
  inset: -20%;
  z-index: 1;

  background:
    radial-gradient(circle at 15% 30%, rgba(255,255,255,0.55), transparent 20%),
    radial-gradient(circle at 85% 25%, rgba(255,200,220,0.45), transparent 22%),
    radial-gradient(circle at 50% 80%, rgba(255,255,255,0.4), transparent 26%);

  filter: blur(30px);
  animation: lightMove 18s ease-in-out infinite alternate;
}

@keyframes lightMove {
  0% {
    transform: translate(0%, 0%) scale(1);
    opacity: 0.7;
  }
  50% {
    transform: translate(-4%, -3%) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translate(5%, 4%) scale(1.05);
    opacity: 0.8;
  }
}