:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  background:
    radial-gradient(
      circle at 10% 20%,
      rgba(255, 210, 225, 0.35),
      transparent 35%
    ),
    radial-gradient(
      circle at 90% 30%,
      rgba(255, 185, 209, 0.418),
      transparent 40%
    ),
    radial-gradient(
      circle at 50% 85%,
      rgba(255, 220, 235, 0.473),
      transparent 45%
    ),
    linear-gradient(
      135deg,
      #ffffff 0%,
      #fff6f9 40%,
      #ffffff 70%,
      #fff0f5 100%
    );
}