.page {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 12px;
}

.desc {
  font-size: 18px;
  font-weight: 700;
  color: #2b2b2b;
  margin: 0 12px 26px 12px;
  margin-bottom: 26px;
  text-align: center;
}

.card {
  width: 100%;
  max-width: 700px;
  background: transparent;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
}

.puzzleBox {
  position: relative;
  width: 100%;

  border-radius: 16px;
  border: 2px dashed #c7c7c796;
  overflow: hidden;

  touch-action: none;
  
  :global {
    // индексы, чтобы зафиксированные плитки не перекрывали свободные
    .jigsaw-puzzle__piece {
      z-index: 100;
    }
    .jigsaw-puzzle__piece--solved {
      z-index: 10;
    }

    // эффекты
    .jigsaw-puzzle__piece {
      transition: transform 0.25s ease, filter 0.25s ease, box-shadow 0.25s ease;
      cursor: grab;

      &:active {
        cursor: grabbing;
        transform: scale(1.02);
      }
      &:hover {
        transform: scale(1.04);
        filter: brightness(1.05);
        // box-shadow: 0 0 12px 2px rgba(209, 80, 119, 0.733);
        box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.5);
      }
    }

    .jigsaw-puzzle__piece--solved {
      cursor: default !important;
      transform: unset !important;
      filter: unset !important;
      box-shadow: none !important;
    }
  }
}